# Quarto output directories
_site/
_site_libs/
.quarto/
_freeze/
/.quarto/
docs/

# R-related files (if you're using R with Quarto)
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rproj.user/**

# Python-related files (if you're using Python with Quarto)
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Temporary files and directories
*.tmp
*.log
*.aux
*.out
*.toc
*.nav
*.snm

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Other unnecessary files
*~

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Prevents committing locally rendered site
docs
*.Rproj
*.Rhistory
.Rproj.user

/.luarc.json

# VSCode
.vscode

# Quarto generated
_build/
.quarto/
/.quarto/
index.ipynb
index.md
index_files/
index.tex
/_*.local

# Course specific
*_model.gz
course/topics/midterm/flight_subset.zip
course/topics/midterm/fall2025.*